.header {
  background-color: #2196f3;
  padding: 10px 20px;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.header__logo {
  display: block;
  font-size: 18px;
  padding-left: 40px;
  //background: url('~public/logo.png') left center no-repeat;  //放项目图标
  background-size: 30px 30px;
  height: 30px;
  line-height: 30px;
  sub{
    margin-left:3px;
    bottom: 0px;
    font-size: 50%;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    //background: url('~public/logo@2x.png') left center no-repeat;
    background-size: 30px 30px;
  }
}
.header_nav{
  font-size:14px;
  margin-top: 2px;
  @media(max-width:670px){
    display: none;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      margin: 0px 6px 0px 10px;
      a{
        display: block;
        padding: 0 12px;
        line-height: 26px;
        border-radius: 16px;
        transition: all .2s;
        &:hover,
        &.active{
          background-color: #fff;
          color: #42a5f5;
        }
      }
    }
  }
}

.header__right {
  line-height: 20px;
  padding: 5px 0;
}

